$light: #dcedc8;
$primary: #ffc107;
$secondary: #8bc34a;
$dark: #ffa000;
$font-family-base: "Raleway", sans-serif;

@import "~bootstrap/scss/bootstrap";

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  // min-height: 100%;

  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
  // height: 100%;
}

.rounded-ends {
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

@include media-breakpoint-down(md) {
  .oneline {
    width: 100%;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  body {
    background-image: url("../images/background-sm.jpg");
  }
}

.m-top {
  margin-top: 30px;
}

@include media-breakpoint-up(lg) {
  .m-top {
    margin-top: 150px;
  }
}

.opacity {
  background: rgba(255, 255, 255, 0.4);
}

@include media-breakpoint-down(sm) {
  .margin-cnt-sm {
    width: auto;
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
}
