<div id="{{containerID}}"
    class="container 1d-flex 111flex-column 11justify-content-evenly text-center 1vh-100 1mtop150">
    <h1>Discover the quality of life for your favorite city.</h1>
    <div class="input-group input-group-lg">
        <input id="{{ inputID }}" class="form-control shadow" type="search" aria-label="Search"
            placeholder="Search city..." style="border-radius: 24px 0 0 24px;">
        <button id="{{ buttonID }}" class="btn btn-secondary shadow" type="button" style="border-radius: 0 24px 24px 0 "
            ;><i class="fas fa-search"></i>
        </button>
    </div>
</div>