<nav id="navbar" class="navbar navbar-light fixed-top1">
    <div class="container">
        <p class="navbar-brand">Discover life quality</p>

        <button id="info" type="button" class="btn btn-secondary1" data-bs-toggle="popover" data-bs-html="true"
            title="About" data-bs-content="<b>Discover life quality</b> is a web application where you can discover the cities scores based on
            the their quality of life.<br><br>
            It is based on the data gained from public Apis of TELEPORT FOR DEVELOPERS.<br><br>
            Look for a city you like and find out its score. <b>Enjoi!<b/>">
            <i class="far fa-question-circle"></i>
        </button>

    </div>
</nav>