<div id="{{ cityScoresID }}" class="container m-2 mx-auto mb-4" style="animation: fadein 1s;">
    <div class="row">
        <div class="col text-center">
            <h1>Summary</h1>
            <div class="mx-auto" style="width: 70%;">
                {{ &scoresList.summary }}
            </div>
        </div>
    </div>
    <div class="row text-center">
        <h1>Categories scores</h1>
        <div class=" col mb-2">
            <ul class="list-group">
                {{#scoresList.categories}}
                <li
                    class="list-group-item d-flex justify-content-between align-items-center text-white shadow bg-primary">
                    {{ name }}<span class="badge bg-secondary shadow">{{ score_out_of_10 }} / 10</span>
                </li>
                {{/scoresList.categories}}
            </ul>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <h1>City score</h1>
            <div class="text-center text-white rounded bg-secondary fw-bold shadow border" style="font-size: 3rem;">
                {{ scoresList.teleport_city_score }}
            </div>
        </div>
    </div>
</div>


</div>