$light: #dcedc8;
$secondary: #ffc107;
$primary: #8bc34a;
$dark: #689f38;
$font-family-base: "Raleway", sans-serif;

@import "~bootstrap/scss/bootstrap";

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background: url("../background.jpg") no-repeat center center fixed;
  // background-image: url("../background.jpg");
  // background-position: right bottom;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  // height: 100%;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
  // height: 100%;
  // min-height: 100vh;
}

.rounded-ends {
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

@include media-breakpoint-down(md) {
  .oneline {
    width: 100%;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  body {
    background-image: url("../background-sm.jpg");
  }
}

.m-top {
  margin-top: 30px;
}

@include media-breakpoint-up(lg) {
  .m-top {
    margin-top: 150px;
  }
}

.opacity {
  background: rgba(255, 255, 255, 0.4);
}

@include media-breakpoint-down(sm) {
  .margin-cnt-sm {
    width: auto;
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
}
